@import url("reset.css");

@media screen and {

}
#bann img{
  width: 100%;
}
footer {
  background-color: #000;
}


footer p {
  color: red;
  padding-left: 20px;
}
footer h1{
  color: red;
  text-align: center;

}
#presentation h1{
  font-size: 40px;
}
#presentation h2{
  font-size: 25px;
  margin-top: 10px;
  text-align: center;
}
#presentation p {
  text-align: center;
  font-size: 20px;
}
#presentation h3{
  text-align: center;
  font-size: 25px

}
#presentation ul li{

  text-align: center;
}
#mt1{

  width: 300px;
}
 .moto {
   display: block;
   width: 300px;

   margin-left: auto;
margin-right: auto;
}

body {
  background-color: white;
  width: 100%;
}
body h1{
  font-size: 30px;
  padding-bottom: 2px;
  text-align: center;
}

nav{
  width: 100%;
  text-align: center;
}
nav ul li{
  display: inline-block; /* alignement de "bande" fonctionne avec "li" */
  width: 15%;
  text-align: center;
}
nav ul li a {
  display: block;
  height: 40px;
  line-height: 40px;
}

nav ul li a:link {
  background: #fff;
  color: #000;
}
nav ul li a:visited {
  background: #fff;
  color: black;
}
nav ul li a:visited:hover {
  background: black;
  color: #fff;
}
nav ul li a:hover { /* Couleur d'arrière plan des boutons de "bande"*/
  background: #587;
  color: #fff;
  opacity: 1;
}
nav ul li a:active {
  background: #000;
  color: black;
}

.frm form {
  background-color: darksalmon;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  padding: 20px;
}

.frm form div {
  padding: 10px 0;
}

.frm form div label {
  float: left;
  width: 240px;
  padding: 0 10px 0 0;
  text-align: right;
}

.frm form div input[type="submit"] {
  background-color: red;
  color: yellow;
  font-size: 1.5em;
  margin: 0 0 0 250px;
}

.frm form fieldset {
  outline: 2px solid red;
}

.frm form textarea {
  font-family: Verdana, Arial, sans-serif;
}
body .ment h1{
  font-size: 1.2em;
  color: red;
}
body .ment{
  margin-left: 250px;
  margin-right: 250px;
  text-align: center;
}

#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #fff;
  border: solid 1px #fff;
}

#panel {
  padding: 50px;
  display: none;
}
